<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>   
    <title>Menú Administrador</title>
</head>
<body>
    <h1>Menú Administrador</h1>
    <table>
        <tr>
            <td>
                <a href="/usuario/listar">Módulo Usuarios</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/usuario/facturas">Módulo Facturas</a>
            </td>
        </tr>
    </table>
        
</body>
</html>
