<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>   
    
    <title>Lista de Facturas</title>
</head>
<body>
    <br>
        <a href="/">Volver al Menú</a>  
    <table style="border-collapse: separate; border-spacing: 10px;">        
        <tr>
            <td colspan="4" >
              <h2>
                Lista de Facturas
              </h2>
            </td>
        </tr>    
        <tr>
            <td>
                <a href="/usuario/crear">Crear Nuevo Elemento</a>
            </td>
        </tr>    
    </table>
    
    <br>
    <br>
    
    
</body>
</html>
