<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>   
    <title>Crear Nuevo Usuario</title>
</head>
<body>
    <h1>Crear Nuevo Usuario</h1>
    <form action="/usuario/crear" method="POST">       
        <table>
            <tr>
               <td>
                 <label for="">Nombre:</label>
               </td> 
               <td>
                <input type="text" id="nombre" name="nombre" required>
               </td> 
            </tr>
            <tr>
                <td>
                    <label for="">Descripción:</label>
                </td> 
                <td>
                    <textarea id="descripcion" name="descripcion" required></textarea>
                </td> 
             </tr>
             <tr>
                <td align="center" colspan="2">
                    <button type="submit">Guardar</button>            
                </td> 
             </tr>
        </table>                        
        <br>        
    </form>
    <a href="/usuario/listar">Volver a la Lista</a>
</body>
</html>